<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Store</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="jumbotron" style="background-color: royalblue; color: white">
        <span class="navbar-brand" style="font-size: xx-large">
            Book Store
        </span>

        <div class="float-end">
            <vc:cart-summary></vc:cart-summary>
        </div>
    </div>

    <div class="row m-1 p-1">

        <div id="categories" class="col-3">
            <vc:categories></vc:categories>
        </div>

        <div class="col-9">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="footer">
        &copy; Dan Bell
    </footer>
</body>
</html>
